.header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    text-align: center;
  }

  .nav {
    min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-self: end;
  }

  .form_wrapper {
    width: 50%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-evenly;
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper_list {
    height: auto;
    width: auto;
    max-width: 96%;
  }

  @media all and (max-width: 380px) {
    .nav {
      min-width: 290px;
      align-self: center;
    }
  }