.form_wrapper {
  width: 50%;
  height: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-evenly;
  border-radius: 5px;
}

.wrapper_list {
  height: 100%;
  min-height: 50%;
  width: auto;
  min-width: 50%;
  max-height: 90%;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details_employee {
  color: rgba(0, 0, 0, 0.87);
  display: flex;
    flex-direction: column;
    height: 96%;
    justify-content: space-evenly;
    gap: 16px;
}

.read_only:focus,
.read_only *:hover{
  cursor: not-allowed !important;
}

.button {
  padding: 5px;
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(233, 230, 230);
}
