.form_close {
    background: none;
    border: none;
    position: inherit;
    top: -13px;
    align-self: flex-end;
  }

  .form_close:hover {
    cursor: pointer;
  }

  .form_close:hover .close_icon path {
    fill: #6c97db;
}